.mainServicesContainer {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    animation: slideUp 1s;
    animation-fill-mode: forwards;
    overflow: scroll;
  }
  
  .mainServicesContainerOff {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    animation: slideDown 1s;
    animation-fill-mode: forwards;
    overflow: scroll;
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(100vh);
      z-index: 1;
    }
    40% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      z-index: 1;
    }
  }
  
  @keyframes slideDown {
    0% {
      opacity: 1;
      transform: translateY(0);
      z-index: 1;
    }
    40% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
      transform: translateY(100vh);
      z-index: 0;
    }
  }

  .optionsContainer{
    width: 90%;
    height: 12em;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  .btnContainer{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: #000000;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 5em;
    height: 5em;
    color: white;
    cursor: pointer;
  }

  .iconBack{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 5em;
    height: 5em;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

  .socialMediaBar{
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .iconSocial{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 5em;
    height: 5em;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

  .formStablishment{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .formStablishment label{
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
  }

  .formStablishment input{
    width: 100%;
    height: 2em;
    border: 2px solid #000000;
    border-radius: 0.5em;
    padding-left: 1em;
    font-size: 1em;
  }

  .formStablishment textarea{
    width: 100%;
    height: 5em;
    border: 2px solid #000000;
    border-radius: 0.5em;
    padding-left: 1em;
    font-size: 1em;
  }

  .formStablishment button{
    width: 100%;
    height: 2em;
    border: 2px solid #000000;
    border-radius: 0.5em;
    background-color: #000000;
    color: white;
    font-size: 1em;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .optionsContainer{
      width: 90%;
      height: 90%;
      /* border: 2px solid red; */
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    .socialMediaBar{
      width: 100%;
      height: 100%;
      flex-direction: column;
    }
  }